@media (max-width: 1440px) {
    nav .menu-btn i{
      display: block;
    }    
}

.topnav {
    /* List */
    position: absolute;
    border-radius: 0px;
    margin-top: 68px;
    margin-bottom: 717px;
    margin-left: 347px;
    margin-right: 826px;
}

.topnav a {
    /* List */
    color: #242635;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* identical to box height, or 140% */
    text-align: left;
    vertical-align: text-top;
}

.logo {
    /* Logo */
    position: absolute;
    width: 90px;
    height: 36px;
    margin-top: 62px;
    margin-bottom: 712px;
    margin-left: 142px;
    margin-right: 1208px;

}

.image {
    /* Slider */
    margin-top: 81px;
    margin-bottom: 81px;
    margin-left: 720px;
    margin-right: 144px;
    width: 576px;
    height: 648px;
    left: 720px;
    top: 81px;
}

.text1 {
    /* Text */
    position: absolute;
    width: 416px;
    height: 246px;
    left: 136px;
    top: 277px;

}

.ex2 {
    height: 102px;
    left: 0%;
    right: 17.55%;
    top: calc(50% - 102px/2 - 72px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    /* identical to box height, or 113% */
    letter-spacing: -2px;
    color: #242635;
}

.h2 {
    font-family: Source Sans Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    font-style: normal;
    left: 1.44%;
    right: 0%;
    top: 60.08%;
    bottom: 0.08%;
    color: #242635;
}

.icon {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 160px;
    top: 689px;
}
